@import "../../../configs-scss/rem-calc.scss";

:host {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: rem-calc(15) rem-calc(20);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: rem-calc(10);
  }
  .input-in {
    width: 95%;
    background: none;
    border: none;
    font-size: rem-calc(15);

    outline: none;

    color: var(--branco);

    &::placeholder {
      color: var(--branco);
      font-family: Nunito, sans-serif;
      font-weight: light;
    }
  }
}
