/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

/* Change bulma variables */
$family-sans-serif: "Nunito, sans-serif";
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
html, body { height: 100%; }
body { margin: 0; }

html {
    background-image: url('../assets/background.svg');
    background-size: cover;

    overflow: auto !important;
}